pkgbase = neovim-qt-git
	pkgdesc = A Qt gui for Neovim (Neovim RPC and GUI using Qt5).
	pkgver = 20150824.caaeaf1
	pkgrel = 1
	url = https://github.com/equalsraf/neovim-qt
	arch = i686
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = cmake
	makedepends = mesa
	depends = neovim
	depends = qt5-base
	depends = msgpack-c
	conflicts = neovim-qt
	source = neovim-qt-git::git+https://github.com/equalsraf/neovim-qt.git
	md5sums = SKIP

pkgname = neovim-qt-git

